.nav-container {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 5;
}
  
.nav-container button {
    flex: 33.33333%;
    padding: 25px;
    background-color: #FFAEDA;
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.25s;
    /* transition: all 0.15s; */
}
  
/* .nav-container button:hover {
    background-color: #FCD2E9;
    cursor: pointer;
    font-size: 21px;
    padding: 24px;
}  */
  
.nav-container:hover > button:not(:hover){
    background-color: #FCD2E9;
}
  
.nav-container button:hover {
    cursor: pointer;
    font-size: 23px;
    padding: 22px;
}